<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.per.main.per.BookDAO">

	
	<select id="getSeat" resultType="SeatDTO">
		SELECT
			*
		FROM
			SEAT
	</select>
	

	
		<!-- DB에 book정보넣기 -->
	<insert id="resevationPer" parameterType="PerformanceOrderDTO">
    INSERT INTO BOOK 
    (ORDERNUM, PERFORMANCE_NUM, MEMBERNUM, MT10ID, IMP_UID, PRFNM, PERFORMANCEDATE, PERFORMANCETIME, PERSEAT, TOTALPRICE, FCLTYNM)
    VALUES 
    (#{orderNum},#{performance_num}, #{memberNum}, #{mt10id}, #{imp_uid}, #{prfnm}, #{performanceDate}, #{performanceTime},#{perSeat}, #{totalPrice},#{fcltynm})
	</insert>
	
	
	<!-- 	    BOOK 테이블에서 모든 예약 정보-->
		<!--      <select id="getBook" resultType="PerformanceOrderDTO" parameterType="PerformanceOrderDTO">
	 		  SELECT * FROM BOOK 
	 	  WHERE ORDERNUM = #{orderNum} 
	 		  
	  	  	</select>--> 
	
		<resultMap id="PerformanceOrderResult" type="PerformanceOrderDTO">
			    <result property="orderNum" column="ORDERNUM"/>
			    <result property="performance_num" column="PERFORMANCE_NUM"/>
			    <result property="memberNum" column="MEMBERNUM"/>
			    <result property="mt10id" column="MT10ID"/>
			    <result property="imp_uid" column="IMP_UID"/>
			    <result property="prfnm" column="PRFNM"/>
			    <result property="performanceDate" column="PERFORMANCEDATE"/>
			    <result property="performanceTime" column="PERFORMANCETIME"/>
			    <result property="perSeat" column="PERSEAT"/>
			    <result property="totalPrice" column="TOTALPRICE"/>
			    <result property="poster" column="POSTER"/>
			    <result property="fcltynm" column="FCLTYNM"/>
		</resultMap>
		

	
	
	<select id="getBook" resultMap="PerformanceOrderResult" parameterType="PerformanceOrderDTO" >
	    SELECT 
	        BOOK.*, 
	        PERFORMANCE.POSTER
	    FROM 
	        BOOK 
	    LEFT OUTER JOIN PERFORMANCE 
	    ON BOOK.PERFORMANCE_NUM = PERFORMANCE.PERFORMANCE_NUM
	    WHERE ORDERNUM = #{orderNum} 
	</select> 	
	
	
	
</mapper>