<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.per.main.board.faq.FaqDAO">
      	<sql id="searchSql">
      		WHERE N.DELETETYPE = '1' 
							
			<choose>
				<when test="kind=='title'">
					AND N.TITLE LIKE '%'||#{search}||'%'
				</when>
				
				<when test="kind=='content'">
					AND N.CONTENT LIKE '%'||#{search}||'%'
				</when>
			</choose>
  		</sql>
	<select id="getList" resultMap="getSelectResult" parameterType="Pager">
  		SELECT 
  			*
		FROM(
			SELECT 
				ROWNUM R, 
				B.* 
			FROM(
				SELECT
					*
				FROM 
					FAQ N 
						LEFT JOIN MEMBER M
							ON N.MEMBER_NUM = M.MEMBER_NUM
				<include refid="searchSql"></include>	
				
				ORDER BY
					N.FAQ_NUM DESC
				) B
			)
		WHERE
			R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<resultMap type="FaqDTO" id="getSelectResult">
  		<id column="FAQ_NUM" property="num"/>
  		<result column="TITLE" property="title"/>
  		<result column="CONTENT" property="content"/>
  		<result column="REGDATE" property="regDate"/>
  		<result column="UPDATEDATE" property="updateDate"/>
  		<result column="HIT" property="hit"/>
  		<collection property="nfDto" javaType="List" ofType="FaqFileDTO">
  			<id column="FAQ_FILE_NUM" property="faq_file_num"/>
  			<result column="FILE_NAME" property="file_name"/>
  			<result column="ORIGIN_NAME" property="origin_name"/>
  		</collection>
  		<collection property="memberDto" javaType="MemberDTO">
  			<id column="MEMBER_NUM" property="member_num"/>
  			<result column="NAME" property="name"/>
  		</collection>
  	</resultMap>
  	
  	
  	<select id="getTotal" resultType="Long">
  		SELECT
  			COUNT(N.FAQ_NUM)
  		FROM
  			FAQ N
  			LEFT JOIN MEMBER M
  				ON	N.MEMBER_NUM = M.MEMBER_NUM
  		<include refid="searchSql"></include>
  	</select>
  	
  	<insert id="setFileAdd" parameterType="FaqFileDTO">
  		INSERT INTO FAQ_FILE
  		VALUES (FAQ_FILE_SEQ.NEXTVAL, #{faq_num}, #{file_name}, #{origin_name}, SYSDATE)
  	</insert>
  	
  	<insert id="setAdd" parameterType="FaqDTO">
  		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
  			SELECT FAQ_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO	FAQ 
  		VALUES (#{num},	#{member_num}, #{title}, #{content}, SYSDATE, SYSDATE, 1, 0)
  	</insert>
  	
  	<select id="getDetail" resultMap="getSelectResult" parameterType="FaqDTO">  
  		SELECT 
  			* 
  		FROM
  			FAQ N
  			LEFT JOIN MEMBER M
  				ON N.MEMBER_NUM = M.MEMBER_NUM
  			LEFT JOIN FAQ_FILE NF
 				ON N.FAQ_NUM=NF.FAQ_NUM
  		WHERE
  			N.FAQ_NUM = #{num} AND
  			N.DELETETYPE = '1'
  	</select>
  	
  	<delete id="setDelete" parameterType="FaqDTO">
  		UPDATE
  			FAQ
  		SET 
  			DELETETYPE = '0'
  		WHERE 
  			FAQ_NUM=#{num}
  	</delete>
  	
  	<update id="setUpdate" parameterType="FaqDTO">
  		UPDATE
  			FAQ
  		SET 
  			TITLE=#{title},
  			content=#{content}
  		WHERE
  			FAQ_NUM=#{num}
  	</update>
  	
  	<update id="setHitCount">
		UPDATE
			FAQ
		SET
			HIT = HIT + 1
		WHERE
			FAQ_NUM = #{num}
	</update>
	
	<delete id="setFileDelete" parameterType="FaqFileDTO">
		DELETE FROM FAQ_FILE WHERE FAQ_FILE_NUM = #{faq_file_num}
	</delete>
	
	<select id="getFileDetail" parameterType="FaqFileDTO" resultType="FaqFileDTO">
		SELECT * FROM FAQ_FILE WHERE FAQ_FILE_NUM = #{faq_file_num}
	</select>

  </mapper>