<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.per.main.member.MemberDAO">
 	<insert id="setJoin" parameterType="MemberDTO">
 		INSERT INTO MEMBER (MEMBER_NUM, NAME, ID, PW, EMAIL, PHONE, BIRTH, ADDRESS,MARKETING, SNS, ROLE)
 		VALUES (MEMBER_SEQ.NEXTVAL, #{name}, #{id}, #{pw}, #{email}, #{phone}, #{birth}, #{address},0,0,0)
 	</insert>
 	
 	<!-- id조회 -->
 	<select id="getId" resultType="MemberDTO" parameterType="MemberDTO">
 		SELECT ID FROM MEMBER WHERE ID=#{id}
 	</select>
 	
 	<select id="getLogin" resultType="MemberDTO" parameterType="MemberDTO">
 		SELECT MEMBER_NUM, NAME, ID, PW, EMAIL, PHONE, BIRTH, ADDRESS,MARKETING, SNS, ROLE
 		  FROM MEMBER
 		 WHERE ID=#{id} AND PW=#{pw}
 	</select>
 	
 	  <!-- 회원수정 -->
   <update id="setMemberUpdate" parameterType="MemberDTO">
   		UPDATE MEMBER SET
   		PW=#{pw}, EMAIL=#{email}, PHONE=#{phone}, BIRTH=#{birth}, ADDRESS=#{address}
   		WHERE ID=#{id}
   </update>
   
   <select id="findEmail" resultType="MemberDTO" parameterType="String">
   		SELECT *
   		  FROM MEMBER
   		 WHERE EMAIL=#{email}   	
   </select>
 
 <!-- 	<insert id="setKakaoJoin" parameterType="MemberDTO">
 		INSERT MEMBERP INTO (MEMBER_NUM, NAME, ID, PW, EMAIL, PHONE, BIRTH, ADDRESS, ROLE)
 		VALUES (MEMBERP_SEQ.NEXTVAL, #{name}, #{id}, #{pw}, #{email}, #{phone}, #{birth}, #{address}, 0)
 	
 	</insert> -->
  </mapper>