<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.per.main.pay.pay.PayDAO">


	<insert id="insertPayData">
		INSERT INTO ORDERINFO (ORDERED_SEQNUM,ORDERNUM,IMP_UID,P_NUM,P_Name,MEMBER_NUM,P_Count,ORDERDATE,TOTALPRICE)
		VALUES (ORDER_SEQ.NEXTVAL,#{orderNum},#{imp_uid},#{p_Num},#{p_Name},#{memberNum},#{p_Count},SYSDATE,#{totalPrice})
	</insert>
	
<!-- 	<update id="buyProduct">
		UPDATE PRODUCT P_COUNT = P_COUNT - #{p_COUNT} WHERE P_NUM = #{p_Num}
	</update> -->

	<!-- 추가  -->
	
	<select id="">
		SELECT * FROM ORDERINFO WHERE MEMBER_NUM =#{member_num}
	</select>
	 <select id="orderDetail" parameterType="ProductOrderDTO" resultType="ProductOrderDTO">
        SELECT * FROM ORDERINFO WHERE ORDERNUM = #{orderNum}
    </select>
    <delete id="removeOrder" parameterType="ProductOrderDTO">
    	DELETE ORDERINFO WHERE ORDERNUM = #{orderNum}
    </delete>

</mapper>