<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.per.main.per.PerformanceDAO">
	<sql id="searchPerSql">
		WHERE PERFORMANCE_NUM > 0 
		AND
		<choose>
			<when test="kind=='title'">
				PRFNM LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				PRFCAST LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
	</sql>
	
	<sql id="searchPlaceSql">
		WHERE 
		<choose>
			<when test="kind=='name'">
				FCLTYNM LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				ADRES LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
	</sql>

	<update id="setPerInfo" parameterType="PerformanceDTO">
		MERGE INTO PERFORMANCE
		USING DUAL
		ON (MT20ID = #{mt20id})
		WHEN MATCHED THEN
			UPDATE SET MT10ID = #{mt10id},
					   PRFNM = #{prfnm},
					   PRFPDFROM = #{prfpdfrom},
					   PRFPDTO = #{prfpdto},
					   PRFCAST = #{prfcast},
					   PRFRUNTIME = #{prfruntime},
					   POSTER = #{poster},
					   DTGUIDANCE = #{dtguidance},
					   PCSEGUIDANCE = #{pcseguidance}
		WHEN NOT MATCHED THEN
			INSERT
			(PERFORMANCE_NUM, MT10ID, MT20ID, PRFNM, PRFPDFROM, PRFPDTO, PRFCAST, PRFRUNTIME, 
			GENRENM, POSTER, DTGUIDANCE, PCSEGUIDANCE)
			VALUES (PERFORMANCE_SEQ.NEXTVAL, #{mt10id}, #{mt20id}, #{prfnm}, 
			#{prfpdfrom}, #{prfpdto}, #{prfcast}, #{prfruntime}, #{genrenm}, 
			#{poster}, #{dtguidance}, #{pcseguidance})
	</update>
	
	<update id="setPlaceInfo" parameterType="PerformancePlaceDTO">
		MERGE INTO PERFORMANCE_PLACE
		USING DUAL
		ON (MT10ID = #{mt10id})
		WHEN MATCHED THEN
			UPDATE SET FCLTYNM = #{fcltynm},
					   ADRES = #{adres},
					   LA = #{la},
					   LO = #{lo},
					   TELNO = #{telno}
		WHEN NOT MATCHED THEN
			INSERT
			(MT10ID,FCLTYNM, ADRES, LA, LO, TELNO)
			VALUES (#{mt10id}, #{fcltynm}, #{adres}, #{la}, #{lo}, #{telno})
	</update>
	
	<delete id="setPerDelete" parameterType="PerformanceDTO">
		DELETE PERFORMANCE
		WHERE PERFORMANCE_NUM = #{performance_num}
	</delete>
	
	<delete id="setPlaceDelete" parameterType="PerformancePlaceDTO">
		DELETE PERFORMANCE_PLACE
		WHERE MT10ID = #{mt10id}
	</delete>
<!-- 	
	<insert id="setPlaceAdd" parameterType="PerformancePlaceDTO">
		INSERT INTO PERFORMANCE_PLACE
		(MT10ID,FCLTYNM, ADRES, LA, LO, TELNO)
		VALUES (#{mt10id}, #{fcltynm}, #{adres}, #{la}, #{lo}, #{telno})
	</insert>
	  -->
	<select id="getPerDetail" resultType="PerformanceDTO" parameterType="PerformanceDTO">
		SELECT * FROM PERFORMANCE
		WHERE PERFORMANCE_NUM = #{performance_num}
	</select>
	
	<select id="getPlaceDetail" resultType="PerformancePlaceDTO" parameterType="PerformancePlaceDTO">
		SELECT * FROM PERFORMANCE_PLACE
		WHERE MT10ID = #{mt10id}
	</select>
	
	<select id="getPerList" resultType="PerformanceDTO" parameterType="Pager">
		SELECT PERFORMANCE_NUM, PRFNM, PRFPDFROM, PRFPDTO, GENRENM
		FROM (SELECT ROWNUM R, F.*
			  FROM (SELECT *
			  		FROM PERFORMANCE
			  		<include refid="searchPerSql"></include>
			  		ORDER BY PRFNM) F)
		WHERE R BETWEEN #{startRow} AND #{lastRow} 
	</select>
	
	<select id="getPlaceList" resultType="PerformancePlaceDTO" parameterType="Pager">
		SELECT MT10ID,FCLTYNM, ADRES, TELNO
		FROM (SELECT ROWNUM R, P.*
		 	  FROM (SELECT * 
			  	    FROM PERFORMANCE_PLACE
			  	    <include refid="searchPlaceSql"></include>
			  	    ORDER BY FCLTYNM) P)
		WHERE R BETWEEN #{startRow} AND #{lastRow} 
	</select>
	
	<select id="getPerTotal" resultType="Long" parameterType="Pager">
		SELECT COUNT(PERFORMANCE_NUM) FROM PERFORMANCE
		<include refid="searchPerSql"></include>
	</select>
	
	<select id="getPlaceTotal" resultType="Long" parameterType="Pager">
		SELECT COUNT(MT10ID) FROM PERFORMANCE_PLACE
		<include refid="searchPlaceSql"></include>
	</select>
</mapper>