<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.per.main.pay.product.ProductDAO">
	<select id="getGiftList" resultType="ProductDTO" parameterType="Pager">
  		SELECT 
  			*
		FROM(
			SELECT 
				ROWNUM R, 
				B.* 
			FROM(
				SELECT
					*
				FROM 
					PRODUCT N 
				ORDER BY
					N.P_NUM DESC
				) B
			)
		WHERE
			R BETWEEN #{startRow} AND #{lastRow}
  	</select>

	
	<select id="getGiftDetail" resultType="ProductDTO" parameterType="ProductDTO">
		SELECT * FROM PRODUCT WHERE P_NUM = #{p_Num}
	</select>


	<select id="getGiftTotal" resultType="Long">
		SELECT
		COUNT(P_NUM) FROM
		PRODUCT
	</select>
	
	<update id="setDelete" parameterType="ProductDTO">
  		DELETE FROM
  			PRODUCT
  		WHERE 
  			P_NUM = #{p_Num}
  	</update>
  	
  	<update id="setUpdate" parameterType="ProductDTO">
  		UPDATE
  			PRODUCT
  		SET 
  			P_NAME = #{p_Name},
  			P_PRICE = #{p_Price},
  			P_DESCRIPTION = #{p_Description},
  			P_IMAGE = #{p_Image},
  			P_COUNT = #{p_Count}
  		WHERE
  			P_NUM = #{p_Num}
  	</update>
	


</mapper>