<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.per.main.review.ReviewDAO">
	<insert id="setAdd" parameterType="ReviewDTO">
		INSERT INTO REVIEW 
		(review_num, performance_num, contents, good, regDate, id)
		VALUES (REVIEW_SEQ.NEXTVAL, #{performance_num}, #{contents}, 0, SYSDATE, #{id})		 
	</insert>
</mapper>